*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.ser
/.idea/caches/build_file_checksums.ser
android_datastate/libs/
android_datastate/src/mainDemo/res/drawable/
app/src/mainDemo/java/android/support/design/
app/src/mainDemo/java/com/example/momo/myapplication/bean/
cleveradapter/libs/
cleveradapter/src/mainDemo/res/drawable/
datastate_processor/libs/
httpdns/src/mainDemo/jni/
lib/libs/
mrouter_compiler/libs/
mrouter_compiler/src/mainDemo/res/drawable/
mrouter_processor/libs/
upload/libs/
upload/src/mainDemo/res/drawable/
