<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.momo.myapplication">

    <!-- 视频录制的权限star   -->
    <!-- sd卡写入权限  -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 硬件支持   -->
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <!-- 视频录制的权限end   -->

    <!-- 权限声明 -->
    <!-- 访问网络状态-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 控制呼吸灯，振动器等，用于新消息提醒 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 外置存储存取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 多媒体相关 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- 如果需要实时音视频通话模块，下面的权限也是必须的。否则，可以不加 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".SamApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".demo.others.DemoAvtivity" />
        <activity android:name=".demo.others.RxDemoActivity" />
        <activity android:name=".demo.others.PickViewActivity" />
        <activity android:name=".demo.others.RecyclerDemo" />
        <activity android:name=".demo.others.ImageCropDemoActivity" />
        <activity android:name=".demo.others.ViewPageDemoActivity" />
        <activity android:name=".demo.others.LottieDemoActivity" />
        <activity android:name="com.example.momo.myapplication.dragger.view.DraggerDemoActivity" />
        <activity android:name=".demo.others.ViewDemoActivity"/>
        <activity android:name=".demo.eventbus.EventBusDemoActivity" />
        <activity android:name=".demo.others.KeyEventDemoActivity" />
        <activity android:name=".demo.retrofit.RetrofitDemoActivity" />
        <activity android:name=".ipc.IPCDemoActivity" />
        <activity android:name=".kot.demo.TaskActivity" />
        <activity android:name=".demo.eventbus.EventBusDemo2Activity" />
        <activity android:name=".demo.others.TouchDemoActivity" />
        <activity android:name=".demo.others.StateDemoActivity" />

        <service android:name=".ipc.BookService" />
    </application>

</manifest>